body{
  background-color:	#c3f1f4
}
#dash{
  margin-top: 8em;
}
p{
  margin-bottom: 0px;
}
.hide{
  display: none;
}
.jumboFore{
  margin-bottom: 8em
}
.foreCast{
  margin-left: 1em;
}
.saved{
  margin: .5em;
}